<h2>Tous les joueurs</h2>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Profil Pic</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td>{{player.firstName}}</td>
            <td>{{player.lastName}}</td>
            <td><img src="{{player.playerPic}}" alt="{{player.firstName}}_{{player.lastName}}_profil_pics"/></td>
          </tr>
        </tbody>
      </table>
    </div>
    <a routerLink="/add-player">
      <button mat-button class="menu-button">
          <mat-icon>person_add_alt_1</mat-icon>
          <span>Nouveau joueur</span>
        </button>
      </a>
  </div>