<button mat-button class="menu-button">
  <a routerLink="/players">
    <mat-icon>person</mat-icon>
    <span>Tous les joueurs</span>
  </a>
</button>
<button mat-button class="menu-button">
  <a routerLink="/add-player">
    <mat-icon>person</mat-icon>
    <span>Nouveau joueur</span>
  </a>
</button>
<button mat-button class="menu-button">
  <a routerLink="/positions">
    <mat-icon>person</mat-icon>
    <span>Tous les postes</span>
  </a>
</button>
<button mat-button class="menu-button">
  <a routerLink="/opponents">
    <mat-icon>person</mat-icon>
    <span>Tous les adversaires</span>
  </a>
</button>
<button mat-button class="menu-button">
  <a routerLink="/add-opponent">
    <mat-icon>person</mat-icon>
    <span>Nouvel adversaire</span>
  </a>
</button>