<button mat-button class="menu-button">
  <a routerLink="/players">
    <mat-icon>group</mat-icon>
    <span>Tous les joueurs</span>
  </a>
</button>
<a routerLink="/add-player">
<button mat-button class="menu-button">
    <mat-icon>person_add_alt_1</mat-icon>
    <span>Nouveau joueur</span>
  </button>
</a>
<mat-divider></mat-divider>
<a routerLink="/positions">
<button mat-button class="menu-button">
    <mat-icon>person</mat-icon>
    <span>Tous les postes</span>
  </button>
</a>
<mat-divider></mat-divider>
<a routerLink="/opponents">
<button mat-button class="menu-button">
    <mat-icon>people_outline</mat-icon>
    <span>Tous les adversaires</span>
  </button>
</a>
